@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap');

.Recipe {
    display: inline-block;
    padding: 16px;
    margin: 10px;
    border: 1px solid rgb(148, 147, 147);
    box-shadow: 0 2px 3px #ccc;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}

.h3 {
    font-family: 'Amiri', serif;
    text-decoration: inherit;
}

.img {
    width: 100%;
    height: auto;
    float: right;
    border-radius: 4px;
    clear: right;
}